{
    "MyFunction": {
      "OPENAI_API_KEY": "your_openai_api_key_here",
      "REDLINE_CHANNEL_WEBHOOK": "https://hooks.slack.com/services/your_slack_webhook_id_here",
      "LYMPHAPRESS_CHANNEL_WEBHOOK": "https://hooks.slack.com/services/your_slack_webhook_id_here",
      "BOT_TEST_CHANNEL_WEBHOOK": "https://hooks.slack.com/services/your_slack_webhook_id_here",
      "ENVIRONMENT": "local",
      "TRELLO_KEY": "your_trello_key_here",
      "TRELLO_TOKEN": "your_trello_token_here",
      "TRELLO_BOARD_ID": "your_board_id_here",
      "TRELLO_CALLBACK_URL": "https://your-lambda-url.lambda-url.us-east-1.on.aws/",
      "TESTING": "true"
    }
  }
  